$title-color : #5C5A61;
$subtitle-color1 :  #5C5A61;
$subtitle-color2 : #2C858D;
$subtitle-color3 : #FAF5F2;
$fondo-hello : #6491a0;
$fondo-main : #F2F0E8;
$fondo-skills : #A6B094;
$fondo-studies : #292D3E;
$fondo-works : #FFEAA4;
$fondo-contact : rgb(36, 33, 23);
$letra-boton : #2C858D;
$letra-titulo :'Quicksand', sans-serif;

//lETRAS
//font-weight
$weight-parrafo: 300;
$weight-subtitulo: 400;
$weight-titulo: 700;
//font-family
$family-titulo:'Quicksand', sans-serif;
$family-subtitulo:'Raleway', sans-serif;
$family-parrafo:'Karla', sans-serif;
//font-size
$size-titulo:6rem;
$size-subtitulo:4rem;
$size-parrafo:1.5rem;
//color
$color-titulo-o: #5C5A61;
$color-titulo-c: #FAF5F2;
$color-subtitulo-o: #5C5A61;
$color-subtitulo-c: #FAF5F2;
$color-parrafo-o: #5C5A61;
$color-parrafo-c: #FAF5F2;

