$title-color : #5C5A61;
$subtitle-color1 :  #5C5A61;
$subtitle-color2 : #2C858D;
$fondo : #6491a0;
$fondo-p2 : #F2F0E8;
$fondo-p3 : #A6B094;
$letra-boton : #2C858D;
$letra-titulo :'Quicksand', sans-serif;