.main {
  height: 100vh;
  background-color: $fondo-main;
  //flex
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  @media (max-width: 575.98px) {
    height: 100%;
  }
  @media (min-width: 576px) and (max-width: 767.98px){
    height: 100%;
  }
}
.contenedor {
    background-color: azure;
    flex-basis: 80%

}
.main .imagen {
  background-color: aqua;
  height: 300px;
  width: 300px;
}

.main .titulo  {
  // background-color: red;
  color: $title-color;
  font-size: 75px;
  font-family: $letra-titulo;
}

.main .parrafo {
  color: $subtitle-color2;
  font-size: 30px;
  text-align: left;
}

// @include media-breakpoint-only(xs) { 
//   .main{
//     height: 100%;
//   }
//  }
// @include media-breakpoint-only(sm) { 
//   .main{
//     height: 100%;
//   }
//  }
// @include media-breakpoint-only(md) { 
//   .main{
//     height: 100%;
//   }
//  }
// @include media-breakpoint-only(lg) { 

//  }
// @include media-breakpoint-only(xl) { 

//  }