
.skills {
  height: 100vh;
  background-color: $fondo-p3;
//   felx
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: center;

}

.skills h3{
    color: $subtitle-color1;
    font-size: 75px;
    font-family: $letra-titulo
}

.contenedor{
    width: 80%;
    margin: auto
}
.elemento1 {
  background-color: red;
}

.elemento2 {
  background-color: aqua;
}
.circle{
    display: flex;
    flex-flow: row wrap;
    width: 30px
}

