.skills {
  height: 100vh;
  background-color: $fondo-skills;
  h3 {
    color: $subtitle-color1;
    @include titulo
  }
  h5 {
        color: rgb(209, 209, 209);
        font-size: 1.2rem;
        font-family: $letra-titulo;
        margin: 2px;
        @media (max-width: 575.98px) {
          font-size: 0.8rem;
            }
      }
      
}

