.contact {
  height: 30vh;
  background-color: $fondo-contact;
  @media (max-width: 575.98px) {
    height: 100%;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    height: 100%;
  }
  h3{
    @include titulo;
    font-size: 3rem;
    color: rgb(219, 217, 217);

  }
  h5{
    @include parrafo; 
    font-size: 1.7rem;
    color: rgb(219, 217, 217);
  }
  span{
    @include parrafo
  }
}
