Header{
    height: 100vh;
    background-color : $fondo;
}

header h1{
    color : #F2F0E8;
    font-size: 200px; 
    font-family: $letra-titulo 
}

header h2{
    color : #AABCBF;
    font-size: 30px;  
}