.navbar {
  display: flex;
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
  transition: top 0.6s;
  background-color: rgba(54, 54, 54, 0.65);
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  color: white;
  }
  .links {
    font-weight: 700;
    font-family: $family-titulo;
    color: rgb(254, 255, 185);
    font-size: 2vh;
    margin: 0;
    padding: 0;
  }
  .links:hover {
    cursor: pointer;
    font-weight: 700;
  }

  .links {
    font-weight: $weight-subtitulo;
    color: white;
    font-size: 2vh;
    &hover {
      cursor: pointer;
    }
  }


.navbar--hidden {
  top: -100px;
}
