.works {
  height: 100vh;
  background-color: $fondo-works;
  @media (max-width: 575.98px) {
    height: 100%;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    height: 100%;
  }
  h3 {
    font-size: $size-subtitulo;
    font-weight: $weight-titulo;
    font-family: $family-titulo;
    color: $color-titulo-o;
    margin: 6%;
    @media (max-width: 575.98px) {
      margin: 2rem;
      font-size: 3rem;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
      margin: 3rem;
      font-size: 3rem;
    }
  }
  .proyecto {
    background-color: #000;
    height: 15rem;
    margin: 0.2rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    @media (max-width: 575.98px) {
      width: 12rem;
      height: 12rem;
    }
    @media (min-width: 576px) and (max-width: 767.98px) {
      width: 15rem;
      height: 15rem;
    }
  }
}
