.works {
  height: 100vh;
  background-color: $fondo-works;
  h3 {
    @include titulo;
    color: rgb(255, 252, 233);
  }
  .proyect {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
}
