.studies {
  height: 100vh;
  background-color: $fondo-studies;
  h3 {
    color: rgb(110, 110, 110);
    @include titulo
  }
  .t{
    background-color: rgba(167, 167, 167, 0.349);
    border-radius: 1rem  ;
    -webkit-border-radius: 1rem  ;
    -moz-border-radius: 1rem  ;
    -ms-border-radius: 1rem  ;
    -o-border-radius: 1rem  ;
}
  h5{
    margin-top: 1rem;
    color: rgb(88, 88, 88);
    font-size: 1rem;
    font-family: $letra-titulo;
    font-family: $family-parrafo
  }
  p {
   @include parrafo
  }
}
